/* HotelAmenities.css */

.amenities-container {
  text-align: center; /* Center align content */
  padding: 20px;
}



.amenities-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 20px;
}

.icon{
  font-size: 100px;
  transition: transform 0.8s ease;
}

.icon:hover {
  transform: scale(1.1); /* Scale the icon to 1.1 times on hover */
}
.ex-rooms{
  text-align: center;
}
.pack-card{
  /* background-color: orangered; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.pack-wrap{
  width: 60%;
  margin-top: 40px;
}


.ex-rooms-img{
  height: 200px;
  object-fit: cover;
 

}

.pack-card{
  cursor: pointer;
  
}
