/* Slider container */
.slider-container {
    text-align: center;
    padding: 40px;
  }
  
  /* Slider heading */
  .slider-heading {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #333; /* Adjust heading color */
  }
  
  /* Slider description */
  .slider-description {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 40px;
    color: #666; /* Adjust description color */
  }
.wrapper{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
  

  
 
 
  .carousel img {
    height: 600px; /* Set a fixed height for the images */
    width: 100%;
    object-fit: contain; /* Ensures the images cover the space without stretching */
  }
  